@import url("https://fonts.googleapis.com/css2?family=Unbounded:wght@200..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=New+Rocker&family=Unbounded:wght@200..900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Unbounded", sans-serif;
  src: url("https://fonts.googleapis.com/css2?family=Unbounded:wght@200..900&display=swap");
}

@font-face {
  font-family: "New Rocker", system-ui;
  src: url("https://fonts.googleapis.com/css2?family=New+Rocker&family=Unbounded:wght@200..900&display=swap");
}

.menu-enter {
  opacity: 0;
}

.menu-enter-active {
  opacity: 1;
  transition: opacity 300ms ease-in;
}

.menu-exit {
  opacity: 1;
}

.menu-exit-active {
  opacity: 0;
  transition: opacity 300ms ease-out;
}
